.home-main {
  width: 100%;
  height: calc(100% - 25px);

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.title {
  padding: 32px;
  font-size: 3em;
  color: 'red';
}
.footer {
  height: 18px;
  padding: 0 10px;
}
